<div class="navbar bg-base-100 shadow-sm fixed top-0 z-50">

  <!-- LEFT SECTION: Logo + mobile menu -->
  <div class="navbar-start">
    <!-- Mobile dropdown -->
    <div class="dropdown lg:hidden">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
             stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>

      <ul tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box mt-3 w-52 shadow z-50">

        <% if Current.user %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "My Posts", posts_path %></li>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Logout", session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Log In", new_session_path %></li>
          <li><%= link_to "Sign Up", new_registrations_path %></li>
        <% end %>
      </ul>
    </div>

    <!-- Logo (always visible) -->
    <%= link_to "Markus-DaisySocial", root_path, class: "btn btn-ghost normal-case text-xl" %>
  </div>


  <!-- CENTER SECTION: Desktop menu -->
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">

      <li><%= link_to "Home", root_path, class: "btn btn-ghost" %></li>

      <% if Current.user %>
        <li><%= link_to "My Posts", posts_path, class: "btn btn-ghost" %></li>
        <li><%= link_to "New Post", new_post_path, class: "btn btn-primary text-white" %></li>
      <% else %>
        <li><%= link_to "Log In", new_session_path, class: "btn btn-ghost" %></li>
        <li><%= link_to "Sign Up", new_registrations_path, class: "btn btn-secondary" %></li>
      <% end %>

    </ul>
  </div>


  <!-- RIGHT SECTION: User info -->
  <div class="navbar-end">
    <% if Current.user %>
      <span class="badge badge-primary badge-outline mr-3">
        <%= Current.user.email_address %>
      </span>
      <%= link_to "Logout", session_path, method: :delete, class: "btn btn-error btn-sm" %>
    <% end %>
  </div>

</div>
